<!DOCTYPE html>
<html>
<head>
	<title>N71</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="google-signin-client_id" content="567112201060-i34emibvl8p17rrgh1trctlgvn8n2o19.apps.googleusercontent.com"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  
  <script> 
  quizId = '<%= quiz._id %>';
    // quiz={};
    // console.log(quiz);
    </script>
    
</head>

<body class="w3-white">
	<div class=" w3-text-gray w3-white  w3-round w3-border" style="width:80%;margin-left:auto;margin-right:auto;margin-top:2%">	

    <div class=" w3-card w3-white w3-row w3-margin w3-padding-large w3-round pages"  >
      <button onclick="nextt();">Start!</button>
    </div>
        <%
    
    if(quiz)
    {
        var questions = quiz.questions;
        var o=0;
         %>

      <% questions.forEach(function(q){%>
        <div class=" w3-card w3-white w3-margin w3-padding-large w3-round w3-hide pages" id='<%= q._id %>' >

          <div class=" w3-padding" id="status<%= o %>"></div>
          <div class=" w3-padding"><%= q.title %><span class="w3-text-gray w3-small"></span></div>

          <div>
            <%var i=0; q.alternatives.forEach(function(a){ %>
                <p class="w3-border w3-white" id="q<%= o %>op<%= i %>" onclick="toggleMark('<%= i++ %>')"><%= i %>)<%= a.text %></p>
            <%  }); %>
          </div>

          <button id="evaluate<%= o %>" onclick="evaluateQuestion()">Evaluate</button>
          <button id="next<%= o++ %>" class="w3-hide" onclick="nextt();">Next</button>
        </div>
        <%  
        }); %>

        <div class=" w3-card w3-white w3-row w3-margin w3-padding-large w3-round w3-hide pages" class="pages" >
          <div class="w3-threequarter w3-padding">Thankyou</div>

          

          <!-- <button id="evaluate<%= o %>" onclick="evaluateQuestion()">Evaluate</button> -->
          <button onclick="restart();">Retake Quiz</button>
        </div>

        <%
        }
        else{
            %>
    <!-- template for a quiz item entry -->
    <!-- <div class=" w3-border w3-row w3-margin w3-padding-large w3-round"> 
      <div class="w3-threequarter w3-padding"><span class="w3-text-gray w3-small"></span>Reiki Quiz  <span class="w3-text-gray w3-small"><br>@ 09:21 01/04/2021</span></div>
      <div class="w3-quarter w3-row ">
        <div class="w3-third w3-button w3-text-blue w3-hover-blue w3-hover-shadow w3-round"><span class="w3-text-white w3-small">copy link </span><i class="fas fa-link"></i></div>
        <div class="w3-third w3-button w3-text-green w3-hover-green w3-hover-shadow w3-round"><span class="w3-text-white w3-small">run </span><i class="fas fa-play"></i></div>
        <div class="w3-third w3-button w3-text-red w3-hover-red w3-hover-shadow w3-round"><span class="w3-text-white w3-small">delete </span><i class="fas fa-trash"></i></div>
      </div>
    </div> -->

    <!-- empty list -->
    <div class="w3-center">
      <!-- <p class="w3-center w3-round w3-text-gray w3-transparent">No quizes yet,<br>Please create a Quiz to get started!!</p> -->
      <button class="w3-button w3-round w3-card w3-margin w3-blue" onclick="next();">
        <span class="w3-text-white w3-small"></span><i class="fas fa-arrow-right"></i>
      </button>
    </div>
<%
  }
  %>

	</div>
  
  <script src="/js/run.js" defer ></script>
</body>
</html>

